// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$title-color: rgba(255, 255, 255, 0.7);
$background-color: #C44435;

// ----------------------------------------------------------------------------
// Widget-haproxy-down-hosts styles
// ----------------------------------------------------------------------------
.widget-haproxy-down-hosts {

  vertical-align: top !important;
  padding-left: 0px !important;
  padding-right: 0px !important;

  .title {
    color: $title-color;
    text-align: left;
  }

  li {
    background-color: $background-color;
  }
}
